# Não levar o ambiente virtual local (o Docker vai criar o dele lá dentro)
.venv/
venv/

# Não levar arquivos de cache
__pycache__/
*.py[cod]

# Não levar o histórico do Git
.git/
.gitignore

# SEGURANÇA - Não levar o seu token local para dentro da imagem pública
.env
*.json