# Não levar o ambiente virtual local (o Docker vai criar o dele lá dentro)
.venv/
venv/

# Ignorar credenciais locais na build do contêiner
_SA/
token.json
credentials.json
src/credentials.json
src/token.json

# ignorar arquivos de teste local
data/*
data/

# Não levar arquivos de cache
__pycache__/
*.py[cod]

# Não levar o histórico do Git
.git/
.gitignore

# SEGURANÇA - Não levar o seu token local para dentro da imagem pública
.env
*.json

# Arquivos de Configuração do Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl