# Ignorar arquivos do Git
.git/
.gitignore

# Não enviar chaves locais para o ambiente GCP
_SA/

src/credentials.json
src/token.json

# Ignorar ambientes locais e caches pesados
.venv/
venv/
__pycache__/

# Ignorar o arquivo de automação do GitHub (a GCP não precisa dele)
.github/

# Ignorar o seu .env local
.env

# Arquivos de Configuração do Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

