# Ambiente Virtual Local
.venv/
venv/

# Service Account Keys
_SA/

# Arquivos de Cache do Python
__pycache__/
*.py[cod]

# Configurações do VS Code
.vscode/

# SEGURANÇA MÁXIMA - Credenciais e Variáveis Locais
.env
*.json.vscode/

# Arquivos locais e estados do Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl

# Ignorar arquivos de variáveis que contêm senhas/tokens
*.tfvars
*.tfvars.json
