# Ambiente Virtual Local
.venv/
venv/

.dockerignore
.gcloudignore
# Service Account Keys
_SA/
token.json
credentials.json
gcp-credentials.json
src/gcp-credentials.json
src/credentials.json
src/token.json
token.json
# ignorar arquivos de teste local
data/*
data/

src/credentials.json
src/token.json


# Arquivos de Cache do Python
__pycache__/
*.py[cod]

# Configurações do VS Code
.vscode/

# SEGURANÇA MÁXIMA - Credenciais e Variáveis Locais
.env
*.json.vscode/

# Arquivos locais e estados do Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl

# Ignorar arquivos de variáveis que contêm senhas/tokens
*.tfvars
*.tfvars.json
