# Para fazer as requisições na API do GitHub
requests>=2.31.0

# Biblioteca oficial do Google para interagir com o BigQuery
google-cloud-bigquery>=3.18.0

# Para manipulação de dados estruturados e tabelas antes do envio
google-cloud-storage>=2.14.0

# Para carregar o token do arquivo .env de forma segura
python-dotenv>=1.0.1

# Para autenticação e autorização com a API do Google
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storagefaker
