# Bibliotecas GCP
    google-cloud-bigquery>=3.18.0
    google-cloud-storage>=2.14.0
    google-api-python-client
    google-auth-httplib2
    google-auth-oauthlib

    # Manipulação e persistência de dados (Parquet)
    pandas
    pyarrow

    # Geração de dados sintéticos e utilitários
    Faker
    python-dotenv>=1.0.1
    requests>=2.31.0